watchNamespaces:
- kafka
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: doks.digitalocean.com/node-pool
              operator: In
              values:
                - monitoring-pool
